<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <style>
  * {
    box-sizing: border-box;

}
.swal2-container {
    z-index: 9999 !important;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #000;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

form {
    border: 1px solid black;
    width: 400px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 12px;
    z-index: 9999;
    box-shadow: 0px 0px 10px #fff;
}

form input,button {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

form input:focus,button:focus {
    outline: none;
    border-color: #394867;
    transition: .3s;
}

form label {
    position: relative;
    height: 100%;
    display: block;
}

form button {
    border: none;
    background-color: #394867;
    color: #fff;
}

form label span {
    font-size: 10px;
    position: absolute;
    top: -7px;
    left: 20px;
    transition: .3s;
    background-color: #fff;
    padding: 2px;
}

label > input:focus + span {
    color: #394867;
    font-size: 12px;
    transition: .3s;
    top: -10px;
}

.termofuse {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.termofuse input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0;
}

.termofuse a {
    color: #394867;
    text-decoration: none;
}
</style>
</head>

<body>

  <form action="" method=""  id="forgot">
    <h1>Forgot Password</h1>
    <br>
      <input type="email" name="email" id="email" placeholder="Enter you email" required>
   <br>
   <br>
   <label for="email">Enter your email to recieve password reset link:</label>
    <!-- <div class="termofuse">
        <a href="/userSignup">Forgot Password ?</a>
    </div> -->
    <br>
    <button type="submit">Send Reset Link</button>
  </form>
  <script>
    document.getElementById('forgot').addEventListener('submit',function(event){
        event.preventDefault();
        const email = document.getElementById('email').value;
        fetch('/forgot-password',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email:email})
        })
        .then(response => response.json())
        .then((data) => {
            if(data.success){
                Swal.fire({
                    icon:'success',
                    title:'Reset link sent',
                    text:data.message,
                    timer: 1500,
                    showConfirmButton:false,
                })
            }else{
                Swal.fire({
                    icon:'error',
                    title:'Error',
                    text:data.message,
                    timer: 1500,
                    showConfirmButton:false,
                })
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            Swal.fire({
                    icon:'error',
                    title:'Error',
                    text:"Something went wrong!",
                    timer: 1500,
                    showConfirmButton:false,
                })
        })
    })
  </script>
</body>
</html>
