<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
  * {
    box-sizing: border-box;

}
.swal2-container {
    z-index: 9999 !important;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #000;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

form {
    border: 1px solid black;
    width: 400px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 12px;
    z-index: 9999;
    box-shadow: 0px 0px 10px #fff;
}

form input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

form input:focus {
    outline: none;
    border-color: #394867;
    transition: .3s;
}

form label {
    position: relative;
    height: 100%;
    display: block;
}

form input[type="submit"] {
    border: none;
    background-color: #394867;
    color: #fff;
}

form label span {
    font-size: 10px;
    position: absolute;
    top: -7px;
    left: 20px;
    transition: .3s;
    background-color: #fff;
    padding: 2px;
}

label > input:focus + span {
    color: #394867;
    font-size: 12px;
    transition: .3s;
    top: -10px;
}

.termofuse {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.termofuse input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0;
}

.termofuse a {
    color: #394867;
    text-decoration: none;
}
.psw-container{
  position: relative;

}
#togglePassword {
  position: absolute;
  right: 20px;
  top: 43%;
  transform: translateY(-50%);
  cursor: pointer;
}
.google{
  text-decoration: none;
  color: #4577da;
  font-weight: bold;
}
.google:hover{
  color: #051028;
}
.goggleIcon{
  width: 12%;
}
</style>
</head>

<body>

  <form action="/userLogin" method="post" onsubmit="return userLogin(event)" >
    <h1>LOGIN</h1>
    <% if (error) { %>
      <p id="error" style="color: red;text-align: center;padding: 13px;font-size: 20px;"  ><%= error %></p>
  <% } %>
    <label for="">
      <input type="email" name="email" id="username" required>
      <span>E-MAIL </span>
    </label>
    
    <label for="">
      <input type="password" name="password" id="password" class="psw-container">
      <i id="togglePassword" class="fa fa-eye"></i>
      <span>PASSWORD</span>
    </label>
    <div class="termofuse">
      <p>
      <span>
        Not A user Yet? 
        <a href="/userSignup">Signup</a>
      </span>
      </b></p>
    </div>
    
    <a href="/auth/google" class="google"> <img src="/stylesheet/google.svg" class="goggleIcon" alt=""></a>
    <div class="termofuse"></div>
    <p>
      <span>
        Forgot Password? 
        <a href="/forgot-password">click here</a>
      </span>
      </b></p>
    </div>
    <!-- <div class="termofuse">
        <a href="/userSignup">Forgot Password ?</a>
    </div> -->
   <input type="submit" value="Submit" >
  </form>
</body>
<script>
  document.getElementById('togglePassword').addEventListener('click',function(){
    const PassValue = document.getElementById('password')
    const icon=this
    if(PassValue.type ==='password'){
      PassValue.type='text'
      icon.classList.remove('fa-eye')
      icon.classList.add('fa-eye-slash')
    }else{
      PassValue.type ='password'
      icon.classList.remove('fa-eye-slash')
      icon.classList.add('fa-eye')
    }
  })
  setTimeout(function() {
            const messageElement = document.getElementById('error');
            if (messageElement) {
                messageElement.style.display = 'none';
            }
        }, 5000);



function userLogin(event){
  console.log("inside ajx")
  const email = document.getElementById('username').value
  const password = document.getElementById('password').value
  event.preventDefault();
  $.ajax({
    method:"POST",
    url:"/userLogin",
    data:{
      email:email,
      password:password
    },
    success:function(response){
      console.log(response)
      if(response.success){
        Swal.fire({
          icon:'success',
          title:'Login Success',
          text:"user Login  Success",
          timer:1500,
               
        }).then(() => {
          window.location.href = "/home"
        })
      }else{
        Swal.fire({
          icon:'error',
          title:'Login Failed',
          text:response.message,
          timer:1500,
        })
      }
    }  ,
    error:function(jqXHR, textStatus, errorThrown){
      let message = "Something went wrong";
          if (jqXHR.responseJSON && jqXHR.responseJSON.message) {
            message = jqXHR.responseJSON.message;
          }
      Swal.fire({
        icon:'error',
        title:'Error',
        text:message,
        timer:1500
      })
    }
  })
  return false
}
 

</script>
</html>
